@media screen and (min-width: 2561px) {}

@media screen and (max-width: 2560px) {}

@media screen and (max-width: 1920px) {
    .header {
        font-size: 14px;
    }
}

@media screen and (max-width: 1500px) {
    .header {
        font-size: 12px;
    }
}

@media screen and (max-width: 1440px) {
    .header {
        font-size: 11px;
    }
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1024px) {
    .header {
        font-size: 8px;
    }
}

/* MOBILE SCREENS */
@media screen and (max-width: 768px) {
    .header {
        font-size: 6px;
        grid-template-columns: 20vw 4vw auto;

    }
}